$primary-color: #9173ff;
$primary-color-light: #e1d9ff;
$primary-color-dark: #6940ff;
$primary-bg-color: #fff;
$primary-text-color: #000;
$primary-accent-color: #d5caff;
$border-color: #9173ff;

$primary-font-family: 'Open Sans Condensed', sans-serif;
$secondary-font-family: 'Saira Condensed', sans-serif;
